.App {
  text-align: center;
}

h4 {
  margin: 0;
}

.animes {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0 0.4rem;
  margin: 0 auto;
}

.animes li img {
  width: 100%;
}

.animes li p {
  height: 2rem;
  margin: 0.5rem 0 0.5rem 0;
}
